





<main class="content">
				<div class="container-fluid p-0">



				<div class="row">
						<div class="col-12">
							<div class="card">
								<div class="card-header">
									<div class="card-actions float-end">
										<div class="dropdown position-relative">
	
										</div>
									</div>
									<h5 class="card-title mb-0">Meeting: <%= @meeting.name %></h5>
								</div>
								<div class="card-body">


<div class="row">
  <div class="col border rounded-3 mx-3 pt-3">


    <div class="row">
      <div class="col h4">Agenda</div>
    </div>
    <div class="row">
      <div class="col">
        <ul>
          <% @meeting.agendas.each do |agenda| %>
            <li class='list-unstyled'><strong><%= agenda.position %>:</strong> <%= agenda.name %></li>
          <% end %>
        </ul>
      </div>
    </div>

  </div>
  <div class="col border rounded-3 mx-3 pt-3">


    <div class="row">
      <div class="col h4">Actions</div>
    </div>
    <div class="row">
      <div class="col">
        <ul><% @meeting.meeting_actions.each do |action| %>
            <li class='list-unstyled'>
            
            <div class="row">
              <div class="col"><strong><%= action.position %>: <%= action.name %></strong> </div>
            </div>
           <div class="row">
              <div class="col px-4"><i>Detail:</i> <%= action.note %></div>
            </div>
           <div class="row">
              <div class="col px-4"><i>For:</i> <%= action.user_name %> (<%= action.user_initials %>)</div>
            </div>
               
            </li>
          <% end %>
        </ul>
      </div>
    </div>

  </div>
</div>




                </div>
							</div>
						</div>


					</div>
				</div>



			</main>