





<main class="content">
				<div class="container-fluid p-0">



				<div class="row">
						<div class="col-12">
							<div class="card">
								<div class="card-header">
									<div class="card-actions float-end">
										<div class="dropdown position-relative">
	
										</div>
									</div>
									<h5 class="card-title mb-0">Meeting: <%= @meeting.name %></h5>
								</div>
								<div class="card-body">


<div class="row">
  <div class="col border rounded-3 mx-3 pt-3">


    <div class="row">
      <div class="col h4">Agenda</div>
    </div>
    <div class="row">
      <div class="col">

        <table class="table table-striped">
          <thead>
            <tr>
              <th class='text-end'>Position</th>
              <th>Name</th>
              <th class='text-end'>Duration (minutes)</th>
            </tr>
          </thead>
          <tbody>
           <% @meeting.agendas.each do |agenda| %>
            <tr>
              <td class='text-end'><strong><%= agenda.position %>:</strong> </td>
              <td><%= agenda.name %></td>
              <td class='text-end'><%= agenda.duration_minutes %></td>
            </tr>
             <% end %>
            <tr>
              <td class='text-end'></td>
              <td>Meeting Duration</td>
              <td class='text-end'><%= @meeting.agendas.map{|a| a.duration_minutes}.inject(:+) %></td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>

  </div>
  <div class="col border rounded-3 mx-3 pt-3">


    <div class="row">
      <div class="col h4">Actions</div>
    </div>
    <div class="row">
      <div class="col">

        <table class="table table-striped">
          <thead>
            <tr>
              <th class='text-end'>Position</th>
              <th>Note</th>
              <th class='text-end'>Owner</th>
            </tr>
          </thead>
          <tbody>
          <% @meeting.meeting_actions.each do |action| %>
            <tr>
              <td class='text-end'><strong><%= action.position %>:</strong> </td>
              <td><%= action.note %></td>
              <td class='text-end'><%= action.user_name %> (<%= action.user_initials %>)</td>
            </tr>
             <% end %>
          </tbody>
        </table>


      </div>
    </div>

  </div>
</div>




                </div>
							</div>
						</div>


					</div>
				</div>



			</main>