<div id="<%= dom_id hosted_meeting %>">
  <p>
    <strong>Meeting:</strong>
    <%= hosted_meeting.meeting_id %>
  </p>

  <p>
    <strong>Started at:</strong>
    <%= hosted_meeting.started_at %>
  </p>

  <p>
    <strong>Ended at:</strong>
    <%= hosted_meeting.ended_at %>
  </p>

  <p>
    <strong>Started by:</strong>
    <%= hosted_meeting.started_by %>
  </p>

  <p>
    <strong>Agenda:</strong>
    <%= hosted_meeting.agenda %>
  </p>

  <p>
    <strong>Slides:</strong>
    <%= hosted_meeting.slides %>
  </p>

</div>
