<div id="<%= dom_id slide %>">
  <p>
    <strong>Meeting:</strong>
    <%= slide.meeting_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= slide.name %>
  </p>

  <p>
    <strong>Slide template:</strong>
    <%= slide.slide_template_id %>
  </p>

  <p>
    <strong>Enabled:</strong>
    <%= slide.enabled %>
  </p>

  <p>
    <strong>Data:</strong>
    <%= slide.data %>
  </p>

</div>
