
<% content_for :js do %>


<script>

  var countDownDate = <%= (@hosted_meeting.started_at + @duration.minutes).to_i * 1000 %>;
  var x = setInterval(function() {
  var now = new Date().getTime();
  var prefix = ''
  var distance = countDownDate - now;
  
  if (distance < 0){
    prefix = '+'
    distance = distance * -1

  }
//console.log('countDownDate', countDownDate)

  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  document.getElementById("meeting-time").innerHTML = prefix + hours + "h " + minutes + "m " + seconds + "s ";


}, 1000);

<% if @next_start_time.present? %>
  var countDownDateAgenda = <%= (@next_start_time).to_i * 1000 %>;
  var y = setInterval(function() {
  var prefix = ''
  var now = new Date().getTime();
  var distance = countDownDateAgenda - now;


  negative = false

  if (distance < 0){
    negative = true
    prefix = '+'
    distance = distance * -1
    reset_agenda_time()
    set_colour_agenda_time('danger')
  }

  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  document.getElementById("agenda-time").innerHTML = prefix + hours + "h " + minutes + "m " + seconds + "s ";

  if (!negative && minutes == 0){
    reset_agenda_time()
    set_colour_agenda_time('warning')
  }

}, 1000);
<% end %>

function reset_agenda_time(){
    $('#agenda-time').removeClass('text-success').removeClass('text-warning').removeClass('text-danger')
    $('#agenda-button').removeClass('btn-success').removeClass('btn-warning').removeClass('btn-danger')
}
function set_colour_agenda_time(colour){
    $('#agenda-time').addClass('text-'+colour)
    $('#agenda-button').addClass('btn-'+colour)
}

</script>


<% end %>

<div class="row bg-primary text-light py-2">


  
  <div class="col-2 text-start ms-2 my-auto">
    <div class='d-inline-flex'>
      <%= button_to organisation_business_unit_meeting_hosted_meeting_finish_path(@organisation, @business_unit, @meeting, @hosted_meeting), method: :post, data: {turbo: false}, class: 'btn btn-danger' do %>
        <i class="fa-regular fa-circle-check"></i> Finish
      <% end %>
    </div>
     <%= link_to '#', class: 'btn btn-success' do %>
      <i class="fa-regular fa-circle-plus"></i> Action / Minute
     <% end %>
  </div>

  <div class="col my-auto">
    <% if @current_agenda_item.present? %>
        <div class="row">
          <div class="col-3 text-end"><% if  @current_agenda_item['id'] != -1 %>Current Topic: <% end %></div>
          <div class="col"><h3 class='text-light'><%= @current_agenda_item['name'] %><% if  @current_agenda_item['id'] != -1 %> - <%= @current_agenda_item['duration_minutes'] %> minutes<% end %></h3></div>
        </div>
    <% else %>
        <div class="row">
          <div class="col my-auto fs-3">No Agenda items</div>
        </div>
    <% end %>
    <% if @next_agenda_item.present? and @next_agenda_item['id'] != -1 %>
        <div class="row">
          <div class="col-3 text-end text-light">Next Topic: </div>
          <div class="col"><%= @next_agenda_item['name'] %> - <%= @next_agenda_item['duration_minutes'] %> minutes</div>
        </div>
    <% end %>
  </div>


  <div class="col-1 my-auto text-center my-auto">
    <% if @current_agenda_item.present? %>
      <% if @next_agenda_item['id'] != -1 %>
        <% button_text =  @current_agenda_item['id'] != -1 ? 'Next Agenda Item' : 'Start first Agenda Item'%>
        <%= button_to  organisation_business_unit_meeting_hosted_meeting_finish_agenda_path(@organisation, @business_unit, @meeting, @hosted_meeting, @current_agenda_item['id'], @next_agenda_item['id']), id: 'agenda-button', class: 'btn btn-success', method: :post, data: {turbo: false} do %>
          Next <i class="fa-solid fa-circle-chevron-right"></i><%#= button_text %>
        <% end %>
      <% else %>  
        <%= button_to organisation_business_unit_meeting_hosted_meeting_finish_agenda_path(@organisation, @business_unit, @meeting, @hosted_meeting, @current_agenda_item['id'], @next_agenda_item['id']), id: 'agenda-button', class: 'btn btn-warning', method: :post, data: {turbo: false} do %>
          Finish <i class="fa-solid fa-flag-checkered"></i>
        <% end %>
      <% end %>    
    <% end %>
  </div>


  <div class="col-2 my-auto text-end my-auto">
   <% if @current_agenda_item.present? and  @current_agenda_item['id'] != -1 %>
      <div class="row">
        <div class="col-6 fs-5 text-end my-auto fst-italic">Current Item:</div>
        <div class='col-6 text-success fs-4 text-start d-inline-block my-auto' id='agenda-time'></div>
      </div>
    <% end %>
    <div class="row">
      <div class="col-6 fs-5  my-auto fst-italic">Meeting Time: </div>
      <div class='col-6 fs-4 text-start d-inline-block my-auto' id='meeting-time'></div></div>
  </div>

  <div class="col-2 my-auto me-3 text-end my-auto">
    <div class="row"><div class="col">Started at: </div></div>
    <div class="row"><div class="col"><h3 class='text-light'><%= @hosted_meeting.started_at.strftime('%d %b %H:%M')%></h3></div></div>  
  </div>

</div>