<%= form_with(model: [@business_unit, @meeting, meeting_action]) do |form| %>
  <% if meeting_action.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(meeting_action.errors.count, "error") %> prohibited this meeting_action from being saved:</h2>

      <ul>
        <% meeting_action.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <%= form.hidden_field :meeting_id %>

  <div class='mb-3'>
    <%= form.label :name, 'Description', style: "display: block", class: 'form-label' %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class='mb-3'>
    <%= form.label :note, style: "display: block", class: 'form-label' %>
    <%= form.text_area :note, class: 'form-control' %>
  </div>


  <div class='mb-3'>
    <%= form.label :user_id, style: "display: block", class: 'form-label' %>
    <%= form.select :user_id, options_for_select(@users.map{|e| [e.name, e.id]}, meeting_action.user_id), {prompt: 'Choose user'}, { class: 'form-select'} %>
  </div>

  <div class='mb-3'>
    <%= form.submit nil, class: 'btn btn-primary' %>
  </div>
<% end %>
