<div id="<%= dom_id meeting_action %>">
  <div class="row">
    <div class="col"><%= meeting_action.position%></div>
    <div class="col"><%= meeting_action.aasm_state%></div>
    <div class="col"><%= meeting_action.created_at.strftime("%d %b '%y") %></div>
    <div class="col"><%= meeting_action.name %></div>
    <div class="col"><%= meeting_action.note %></div>
  </div>
</div>
