



<% content_for :js do %>
 <% #  disabled datatables for now %>
	<script>
  
  window.addEventListener('turbo:load', function() {

      if ( $.fn.dataTable.isDataTable( '#meeting-actions-datatable' ) ) {
          table = $('#meeting-actions-datatable').DataTable();
      }
      else {
          table = $('#meeting-actions-datatable').DataTable( {
              responsive: true,
          } );
      }


		});
  </script>

<% end  if false%>


<main class="content">
				<div class="container-fluid p-0">
        	<div class="row">
						<div class="col-12">
							<div class="card">
								<div class="card-header">
									<div class="card-actions float-end">
										<div class="dropdown position-relative">
	
										</div>
									</div>
									<h5 class="card-title mb-0">Actions</h5>
								</div>
								<div class="card-body">


                  <table id='meeting-actions-datatable' class="table table-striped" style="width:100%">
                    <thead>
                      <tr>
                        
                        <th>Number</th>
                        <th>Name</th>
                        <th>Note</th>
                        <th>User</th>
                        <th data-orderable="false"></th>

                      </tr>
                    </thead>
                    <tbody>
                      <% @meeting_actions.active.each do |meeting_action|  %>
                      <tr>
                        
                        <td><%= meeting_action.position %></td>
                        <td>
                         <%= link_to  meeting_action.name, organisation_business_unit_meeting_meeting_action_path(@organisation, @business_unit, @meeting, meeting_action) , class: '' %>
                
                        
                        </td>
                        <td><%= meeting_action.note %></td>
                        <td><%= meeting_action.user_name %> (<%= meeting_action.user_initials %>)</td>









                      <td class='text-end'>
<div class='d-inline-flex'>

                        <%= button_to organisation_business_unit_meeting_meeting_action_move_path(@organisation, @business_unit, @meeting, meeting_action, :up), method: :post, class: 'btn btn-link' do  %>
                        <i class="fas fa-arrow-up"></i>
                        <% end unless meeting_action.first? %>
</div>
<div class='d-inline-flex'>
                        <%= button_to organisation_business_unit_meeting_meeting_action_move_path(@organisation, @business_unit, @meeting, meeting_action, :down), method: :post, class: 'btn btn-link' do  %>
                        <i class="fas fa-arrow-down"></i>
                        <% end unless meeting_action.last? %>
</div>

<div class='d-inline-flex'>

                          <%= button_to organisation_business_unit_meeting_meeting_action_complete_path(@organisation, @business_unit, @meeting, meeting_action), method: :post, data: {turbo: false},  class: 'btn btn-success' do%>
                               Done <i class="fas fa-check"></i>
                          <% end  %>  
</div>
                        </td>
                      </tr>
                      <% end %>
                     
                    </tbody>
                  </table>

                  <div class="row mt-3">
                    <div class="col">
                      <%= link_to "New meeting action", new_organisation_business_unit_meeting_meeting_action_path(@organisation, @business_unit, @meeting), class: 'btn btn-primary' %>
                    </div>
                    <div class="col text-end">
                      <%= link_to 'Back to Meeting', organisation_business_unit_meeting_path(@organisation, @business_unit, @meeting), class: 'btn btn-secondary' %>
                    </div>
                  </div>

                </div>
							</div>
						</div>
					</div>

				</div>
			</main>