

<% content_for :js do %>

	<script>
  
  window.addEventListener('turbo:load', function() {


      if ( $.fn.dataTable.isDataTable( '#versions-datatable' ) ) {
          table = $('#versions-datatable').DataTable();
      }
      else {
          table = $('#versions-datatable').DataTable( {
              responsive: true,
          } );
      }


		});
  </script>

<% end %>

<main class="content">
				<div class="container-fluid p-0">



				<div class="row">
						<div class="col-12">
							<div class="card">
								<div class="card-header">
									<div class="card-actions float-end">
										<div class="dropdown position-relative">
	
										</div>
									</div>
									<h5 class="card-title mb-0">Action: <%= @meeting_action.name %> </h5>
								</div>
								<div class="card-body">
                  <div class="row">
                    <div class="col mb-3">

                      <p>
                        <strong>Description:</strong>
                        <%= @meeting_action.note %>
                      </p>
                      <p>
                        <strong>State:</strong>
                        <%= @meeting_action.aasm_state %>
                      </p>
                      <!--div class='d-inline-flex'>
                        <%= button_to "Mark Complete", organisation_business_unit_meeting_meeting_action_complete_path(@organisation, @business_unit, @meeting, @meeting_action), method: :post,  class: 'btn btn-primary' %>
                      </div -->
                    </div>
                  </div>

                <div class="row">
                  <div class="col">
                    <div class='d-inline-flex'>
                    <%= link_to organisation_business_unit_meeting_meeting_actions_path(@organisation, @business_unit, @meeting), class: 'btn btn-secondary' do %>
                      Back to Actions
                    <% end %>
                    </div>
                  </div>
                  <div class="col text-end">
                  <div class='d-inline-flex'>
                    <%= link_to edit_organisation_business_unit_meeting_meeting_action_path(@organisation, @business_unit, @meeting, @meeting_action) , class: 'btn btn-secondary' do %>
                      <i class="fas fa-edit"></i> Edit action
                    <% end %>
                    </div>
                    <div class='d-inline-flex'>
                    <%= button_to organisation_business_unit_meeting_meeting_action_path(@organisation, @business_unit, @meeting, @meeting_action), method: :delete, class: 'btn btn-secondary' do %>
                      <i class="fas fa-trash-alt"></i> Delete item
                    <% end  %> 
                    </div>                
                  </div>
                </div>

                </div>
							</div>
						</div>

					</div>
					
					<div class="row">
						<div class="col">
							<div class="card">
								<div class="card-header">
									<div class="card-actions float-end">
										<div class="dropdown position-relative">

										</div>
									</div>
									<h5 class="card-title mb-0">Versions</h5>
								</div>
								<div class="card-body">
  
                    <table id='versions-datatable' class="table table-striped" style="width:100%">
      <thead>
        <tr>
          <th>Number</th>
          <th>Date</th>
          <th>Time</th>
          <th>Event</th>
          <th>Who</th>
          <th>Change</th>
        </tr>
      </thead>
      <tbody>
        <% @meeting_action.versions.each do |version| %>
        <tr>
          <td><%= version.index %></td>
          <td><%= version.created_at.strftime("%d %b '%y") %></td>
          <td><%= version.created_at.strftime("%H:%M") %></td>
          <td><%= version.event %></td>
          <td><%= User.find(version.whodunnit).name %></td>
          <td>
            <% changes = version.changeset %>
            <ul>
            <% changes.keys.reject{|s| ['updated_at', 'created_at'].include?(s)}.each do |key| %>
              <li><%= key %> changed to '<%= changes[key].last %>'</li>
            <% end unless version.event == 'create' %>
            </ul>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>

                </div>
							</div>
						</div>
					

					</div>

				</div>
			</main>