<%= form_with(model: organisation) do |form| %>
  <% if organisation.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(organisation.errors.count, "error") %> prohibited this organisation from being saved:</h2>

      <ul>
        <% organisation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class='mb-3'>
    <%= form.label :name, style: "display: block", class: 'form-label' %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class='mb-3'>
    <%= form.submit nil, class: 'btn btn-primary'  %>
  </div>
<% end %>
