

<% content_for :js do %>

	<script>
  
  window.addEventListener('turbo:load', function() {

      if ( $.fn.dataTable.isDataTable( '#organisations-datatable' ) ) {
          table = $('#organisations-datatable').DataTable();
      }
      else {
          table = $('#organisations-datatable').DataTable( {
              responsive: true,
          } );
      }


		});
  </script>

<% end %>


<main class="content">
				<div class="container-fluid p-0">



				<div class="row">
						<div class="col-12">
							<div class="card">
								<div class="card-header">
									<div class="card-actions float-end">
										<div class="dropdown position-relative">
	
										</div>
									</div>
									<h5 class="card-title mb-0">Organisations</h5>
								</div>
								<div class="card-body">


                  <table id='organisations-datatable' class="table table-striped" style="width:100%">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th data-orderable="false"></th>
                        <th data-orderable="false"></th>
                        <th data-orderable="false"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <%@organisations.each do |organisation|  %>
                      <tr>
                        <td><%= organisation.name %></td>
                        <td class='text-end'>
                          <%= link_to link_to "Show this organisation", organisation, class: 'btn btn-primary' %>
                        </td>
                        <td class='text-end'>
                          <%= link_to edit_organisation_path(organisation) , class: 'btn btn-primary' do %>
                            <i class="fas fa-edit"></i> Edit this meeting
                          <% end %>         
                        </td>
                        <td class='text-end'>
                          <%= button_to organisation_path(organisation), method: :delete, class: 'btn btn-secondary d-inline mt-1' do %>
                            <i class="fas fa-trash-alt"></i> Delete this meeting
                          <% end  if organisation.meetings.blank? %>                 
                        </td>
                      </tr>
                      <% end %>
                     
                    </tbody>
                  </table>

                  <div class="row">
                    <div class="col">
                      <%= link_to "New meeting", new_organisation_path(), class: 'btn btn-primary' %>
                    </div>
                    <div class="col text-end">
                    
                    </div>
                  </div>

                </div>
							</div>
						</div>
					</div>

				</div>
			</main>