
<%= render @organisation %>



<p>
  <%= link_to 'Invite user to this organisation', new_user_invitation_path(organisation_id: @organisation.id) %>
</p>


<div>
  <%= link_to "Edit this organisation", edit_organisation_path(@organisation) %> |
  <%= link_to "Back to organisations", organisations_path %>

  <%= button_to "Destroy this organisation", @organisation, method: :delete %>
</div>
