<div id="<%= dom_id slide_template %>">
  <p>
    <strong>business_unit:</strong>
    <%= slide_template.business_unit_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= slide_template.name %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= slide_template.content %>
  </p>

  <p>
    <strong>Enabled:</strong>
    <%= slide_template.enabled %>
  </p>

</div>
