<div id="<%= dom_id agenda %>">
  <p>
    <strong>Meeting:</strong>
    <%= agenda.meeting_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= agenda.name %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= agenda.position %>
  </p>

  <p>
    <strong>State:</strong>
    <%= agenda.state %>
  </p>

</div>
