<style>

.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.box {
  border: 3px solid #666;
  background-color: #ddd;
  border-radius: .5em;
  padding: 10px;
  cursor: move;
}

.box.over {
  border: 3px dotted #666;
}

</style>

<% content_for :js do %>

<script>

document.addEventListener('DOMContentLoaded', (event) => {

  var dragSrcEl = null;
  var coord = {}

  function handleDragStart(e) {
    this.style.opacity = '0.4';
    
    dragSrcEl = this;
    //console.log(e)
    coord['leftStart'] = e.screenX
    coord['topStart'] = e.screenY
    e.dataTransfer.effectAllowed = 'move';
  //  e.dataTransfer.setData('text/html', this.innerHTML);

   console.log('Starting the drag')
  }

  function handleDragOver(e) {
    if (e.preventDefault) {
      e.preventDefault();
    }

   // console.log('oovverr')
    //console.log('over')
    e.dataTransfer.dropEffect = 'move';
    return false;
  }

  function handleDragEnter(e) {
    this.classList.add('over');
  }

  function handleDragLeave(e) {
    this.classList.remove('over');
  }

  function handleDrop(e) {
    console.log(e)
 

    coord['leftEnd'] = e.screenX
    coord['topEnd'] = e.screenY


   

    if (e.stopPropagation) {
      e.stopPropagation(); // stops the browser from redirecting.
    }

      canvas =  dragSrcEl.parentElement.getBoundingClientRect()
      box = dragSrcEl.getBoundingClientRect();
      origX = parseInt(dragSrcEl.style.left) || 0
      origY = parseInt(dragSrcEl.style.top) || 0
      console.log(origX + ' + ' + coord['leftEnd'] +' - '+coord['leftStart']);
      console.log(origY + ' + ' + coord['topEnd'] +' - '+coord['topStart']);
      x =  origX + (coord['leftEnd'] -  coord['leftStart'])
      y =  origY + (coord['topEnd'] -  coord['topStart'])
      dragSrcEl.style.left = x +"px";
      dragSrcEl.style.top = y +"px";

    
    return false;
  }

  function handleDragEnd(e) {
    this.style.opacity = '1';
    
    items.forEach(function (item) {
      item.classList.remove('over');
    });
  }
  
  
  let items = document.querySelectorAll('.box');
  items.forEach(function(item) {
    item.addEventListener('dragstart', handleDragStart, false);
    //item.addEventListener('dragenter', handleDragEnter, false);
    //item.addEventListener('dragover', handleDragOver, false);
   // item.addEventListener('dragleave', handleDragLeave, false);
    item.addEventListener('drop', handleDrop, false);
    item.addEventListener('dragend', handleDragEnd, false);
  });
  let targets = document.querySelectorAll('.target');
  targets.forEach(function(target) {
  //  target.addEventListener('dragstart', handleDragStart, false);
  //  target.addEventListener('dragenter', handleDragEnter, false);
    target.addEventListener('dragover', handleDragOver, false);
  ///  target.addEventListener('dragleave', handleDragLeave, false);
    target.addEventListener('drop', handleDrop, false);
    //target.addEventListener('dragend', handleDragEnd, false);
  });

});

</script>

<% end %>



<div class="row">
  <div class="col">
  
    <div class="canvas border m-4 bg-white target p-0 m-0" style='height:600px;width:800px;'>
    
    <div class="border p-4 box" data-name='clivebox' draggable="true"  style='position:relative;height:100px;width:100px;'>BOOOC1</div>
    <div class="border p-4 box" data-name='clivebox' draggable="true"  style='position:relative;height:100px;width:100px;'>BOOOC2</div>
    <div class="border p-4 box" data-name='clivebox' draggable="true"  style='position:relative;height:100px;width:100px;'>BO333</div>
    
    </div>

  
  </div>
</div>


<div class="content">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <div class="card-actions float-end">
            <div class="dropdown position-relative">

            </div>
          </div>
          <h5 class="card-title mb-0">Editing master slide template</h5>
        </div>
        <div class="card-body">

          <%= render @master_slide_template %>

          <div>
            <%= link_to "Edit this master slide template", edit_master_slide_template_path(@master_slide_template) %> |
            <%= link_to "Back to master slide templates", master_slide_templates_path %>

            <%= button_to "Destroy this master slide template", @master_slide_template, method: :delete %>
          </div>


        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <div class="card-actions float-end">
            <div class="dropdown position-relative">

            </div>
          </div>
          <h5 class="card-title mb-0">Render master slide template</h5>
        </div>
        <div class="card-body">

          <div>
          <%=  @tags.inspect %>
          </div>
          <code>
            <%= @master_slide_template.content %>
          </code>



        </div>
      </div>
    </div>
  </div>





</div>


