<style>

.container {

}

.box {
  <%# border: 3px solid #666;
  background-color: #ddd;
  border-radius: .5em;
  padding: 10px; %>
  cursor: move;
}

.dotted-border{
  border: 1px dotted #666;
}

.box.over {
  border: 3px dotted #666;
}


#right_panel {
    position: absolute;
    width: 96px;
    padding-left: 4px;
    height: 100%;
    right: 0;
    background-color: #f0f0f0;
}

#resize {
    background-color: #ccc;
    position: absolute;
    left: 0;
    width: 4px;
    height: 100%;
    cursor: w-resize;
}

</style>

<% content_for :js do %>

<script>

document.addEventListener('DOMContentLoaded', (event) => {

  var dragSrcEl = null;
  var coord = {}

  function handleDragStart(e) {
    this.style.opacity = '0.4';
    
    setSelected(this)

    dragSrcEl = this;
    //console.log(e)
    coord['leftStart'] = e.screenX
    coord['topStart'] = e.screenY
    e.dataTransfer.effectAllowed = 'move';
  //  e.dataTransfer.setData('text/html', this.innerHTML);

   console.log('Starting the drag')
  }

  function handleDragOver(e) {
    if (e.preventDefault) {
      e.preventDefault();
    }

   // console.log('oovverr')
    //console.log('over')
    e.dataTransfer.dropEffect = 'move';
    return false;
  }

  function handleDragEnter(e) {
    this.classList.add('over');
  }

  function handleDragLeave(e) {
    this.classList.remove('over');
  }

  function handleDrop(e) {
    console.log(e)
 

    coord['leftEnd'] = e.screenX
    coord['topEnd'] = e.screenY


   

    if (e.stopPropagation) {
      e.stopPropagation(); // stops the browser from redirecting.
    }

      canvas =  dragSrcEl.parentElement.getBoundingClientRect()
      box = dragSrcEl.getBoundingClientRect();
      origX = parseInt(dragSrcEl.style.left) || 0
      origY = parseInt(dragSrcEl.style.top) || 0
      console.log(origX + ' + ' + coord['leftEnd'] +' - '+coord['leftStart']);
      console.log(origY + ' + ' + coord['topEnd'] +' - '+coord['topStart']);
      x =  origX + (coord['leftEnd'] -  coord['leftStart'])
      y =  origY + (coord['topEnd'] -  coord['topStart'])
      dragSrcEl.style.left = x +"px";
      dragSrcEl.style.top = y +"px";

      url = "/master_slide_template_component/"+dragSrcEl.dataset['component_instance_id']+"/update"

    const xhttp = new XMLHttpRequest();
    p = {}
    p['left'] = x
    p['top'] = y

    console.log(url)
    xhttp.open("POST", url, true);
    xhttp.setRequestHeader("Content-type", "application/json");
    xhttp.send(JSON.stringify(p));


    return false;
  }

  function handleDragEnd(e) {
    this.style.opacity = '1';
    
    items.forEach(function (item) {
      item.classList.remove('over');
    });
  }
  
  let items = document.querySelectorAll('.box');
  items.forEach(function(item) {
    item.addEventListener('dragstart', handleDragStart, false);
    //item.addEventListener('dragenter', handleDragEnter, false);
    //item.addEventListener('dragover', handleDragOver, false);
   // item.addEventListener('dragleave', handleDragLeave, false);
    item.addEventListener('drop', handleDrop, false);
    item.addEventListener('dragend', handleDragEnd, false);
  });
  let targets = document.querySelectorAll('.target');
  targets.forEach(function(target) {
  //  target.addEventListener('dragstart', handleDragStart, false);
  //  target.addEventListener('dragenter', handleDragEnter, false);
    target.addEventListener('dragover', handleDragOver, false);
  ///  target.addEventListener('dragleave', handleDragLeave, false);
    target.addEventListener('drop', handleDrop, false);
    //target.addEventListener('dragend', handleDragEnd, false);
  });




  function setSelected(element){
    $(".box").removeClass('dotted-border');
    $(element).addClass("dotted-border");
  }







 
    $('.box').contextmenu(function(){
      $(".box").removeClass('dotted-border');
      $(".component-instances").removeClass('bg-dark');
    });


  $('.box').click(function(){


      id = $(this).data('component_instance_id');

      setSelected(this)

      $(".component-instances").removeClass('bg-dark');
      $("#component-instance-" + id).addClass('bg-dark');

     

  });

});
</script>

<% end %>


<div class="content">


  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <div class="card-actions float-end">
            <div class="dropdown position-relative">

            </div>
          </div>
          <h5 class="card-title mb-0">Editing master slide template</h5>
        </div>
        <div class="card-body">

          <%= render @master_slide_template %>

          <div>
            <%= link_to "Edit this master slide template", edit_master_slide_template_path(@master_slide_template) %> |
            <%= link_to "Back to master slide templates", master_slide_templates_path %>

            <%= button_to "Destroy this master slide template", @master_slide_template, method: :delete %>
          </div>


        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-8">
      <div class="card">
        <div class="card-header">
          <div class="card-actions float-end">
            <div class="dropdown position-relative">

            </div>
          </div>
          <h5 class="card-title mb-0">Slide</h5>
        </div>
        <div class="card-body">

          <div class="canvas border border-dark m-4 bg-white target p-0 m-0" id='target' style='height:600px;width:800px;'>
            <% @master_slide_template.master_slide_template_components.each do |component_instance| %>  
              <% component = component_instance.component %>
              <div  class=" p-0 m-0 box" 
                    data-component_instance_id='<%= component_instance.id %>' 
                    data-name='<%= component.name %>' 
                    draggable="true"  
                    style='top:<%= component_instance.top %>px;left:<%= component_instance.left %>px;position:relative;height:<%= component_instance.height %>px;width:<%= component_instance.width %>px;'
                     oncontextmenu="javascript:;return false;" >
                    <%= component.content %>
              </div>
            <% end %>

          </div>

        </div>
      </div>
    </div>


  

  

    <div class="col-4">
      <div class="card">
        <div class="card-header">
          <div class="card-actions float-end">
            <div class="dropdown position-relative">

            </div>
          </div>
          <h5 class="card-title mb-0">Components</h5>
        </div>
        <div class="card-body">


         <% @master_slide_template.master_slide_template_components.each do |component_instance| %>  
              <% component = component_instance.component %>
              <div class="row component-instances" id='component-instance-<%=component_instance.id%>'>
                <div class="col"><%= component.name %></div>
                <div class="col">top:<%= component_instance.top %></div>
                <div class="col">left:<%= component_instance.left %></div>
                <div class="col">width:<%= component_instance.width %></div>
                <div class="col">height:<%= component_instance.height %></div>
              </div>
            <% end %>


        </div>
      </div>
    </div>
  </div>
  


  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header">
          <div class="card-actions float-end">
            <div class="dropdown position-relative">

            </div>
          </div>
          <h5 class="card-title mb-0">Components</h5>
        </div>
        <div class="card-body">


          <% @components.each do |component| %>
          <div class="row">
            <div class="col"> <%= button_to 'add', master_slide_template_add_component_path(@master_slide_template, component), method: :post, class: 'add-component', 'data-component_id': component.id %></div>
            <div class="col"> <%= component.name %></div>
            <div class="col"><%= component.content %></div>
           
          </div>
          <% end %>


        </div>
      </div>
    </div>
  </div>

  



  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <div class="card-actions float-end">
            <div class="dropdown position-relative">

            </div>
          </div>
          <h5 class="card-title mb-0">Render master slide template</h5>
        </div>
        <div class="card-body">

          <div>
          <%=  @tags.inspect %>
          </div>
          <code>
            <%= @master_slide_template.content %>
          </code>

        </div>
      </div>
    </div>
  </div>





</div>


