

<div class="main d-flex justify-content-center w-100">
		<main class="content d-flex p-0">
			<div class="container d-flex flex-column">
				<div class="row">
					<div class="col-sm-10 col-md-8 col-lg-6 mx-auto d-table h-100">
						<div class="d-table-cell align-middle">

							<div class="text-center mt-4">
								<h1 class="h2">Invite resent</h1>

							</div>
							<div class="card">
								<div class="card-body">
									<div class="m-sm-4">
                      
                    <h2><%= t "devise.invitations.edit.header" %></h2>

                    <%= form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :put , data: { turbo: false} }) do |f| %>
                      <%= render "devise/shared/error_messages", resource: resource %>
                      <%= f.hidden_field :invitation_token, readonly: true %>

                      <% if f.object.class.require_password_on_accepting %>

                        <div class="mb-3">
                        <%= f.label :first_name, class: 'form-label' %>
                        <%= f.text_field :first_name, autofocus: true, class: 'form-control' %>
                      </div>

                      <div class="mb-3">
                        <%= f.label :last_name, class: 'form-label' %>
                        <%= f.text_field :last_name, autofocus: true, class: 'form-control' %>
                      </div>
                      
                        <div class="mb-3">
                          <%= f.label :password, class: 'form-label' %>
                          <%= f.password_field :password, class: 'form-control' %>
                        </div>

                        <div class="mb-3">
                          <%= f.label :password_confirmation, class: 'form-label' %>
                          <%= f.password_field :password_confirmation, class: 'form-control' %>
                        </div>
                      <% end %>

                      <div class="mb3">
                        <%= f.submit t("devise.invitations.edit.submit_button"), class: 'btn btn-primary' %>
                      </div>
                    <% end %>


									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</main>
	</div>





