
<% content_for :js do %>

	<script>
  
  window.addEventListener('turbo:load', function() {

      if ( $.fn.dataTable.isDataTable( '#active-users-datatable' ) ) {
          table = $('#active-users-datatable').DataTable();
      }
      else {
          table = $('#active-users-datatable').DataTable( {
              responsive: true,
          } );
      }

      if ( $.fn.dataTable.isDataTable( '#disabled-users-datatable' ) ) {
          table = $('#disabled-users-datatable').DataTable();
      }
      else {
          table = $('#disabled-users-datatable').DataTable( {
              responsive: true,
          } );
      }


		});
  </script>

<% end %>

<main class="content">
				<div class="container-fluid p-0">



				<div class="row">
						<div class="col-12">
							<div class="card">
								<div class="card-header">
									<div class="card-actions float-end">
										<div class="dropdown position-relative">
	
										</div>
									</div>
									<h5 class="card-title mb-0"><%= @business_unit.name %> Business unit</h5>
								</div>
								<div class="card-body">


                <div class="row">
                  <div class="col">
                    <%= link_to new_user_invitation_path(organisation_id: @organisation.id, business_unit_id: @business_unit.id), class: 'btn btn-primary' do %>
                      <i class="far fa-users"></i> Invite users to this Business unit 
                    <% end %>
                  </div>
                  <div class="col text-end">
                  
                    <div class='d-inline-flex'>
                    <%= link_to edit_organisation_business_unit_path(@organisation, @business_unit) , class: 'btn btn-primary' do %>
                      <i class="fas fa-edit"></i> Edit this Business unit
                    <% end %>
                    </div>

                    <div class='d-inline-flex'>
                      <%= button_to organisation_business_unit_path(@organisation, @business_unit), method: :delete, class: 'btn btn-secondary',  data: {turbo: false} do %>
                        <i class="fas fa-trash-alt"></i> Delete this business_unit
                      <% end  if @business_unit.meetings.blank? and @business_unit.slide_templates.blank? %>                 
                    </div>
                  
                  
                  </div>
                </div>


                  

                </div>
							</div>
						</div>


					</div>

					
					<div class="row">
						<div class="col-12">
							<div class="card">
								<div class="card-header">
									<div class="card-actions float-end">
										<div class="dropdown position-relative">

										</div>
									</div>
									<h5 class="card-title mb-0"><%= @business_unit.name %> active users</h5>
								</div>
								<div class="card-body">
								
                  <table id='active-users-datatable' class="table table-striped" style="width:100%">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Status</th>
                        <th>Role</th>
                        <th data-orderable="false"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @business_unit.business_unit_users.active.each do |business_unit_user| %>
                      <tr>
                        <td><%= business_unit_user.user_name %></td>
                        <td><%= business_unit_user.user.invitation_token.present? ?  "Invited" : 'Active' %></td>
                        <td><%= business_unit_user.role.join(', ') %></td>
                        <td class='text-end'>
                        <%  if current_user.id != business_unit_user.user_id and !business_unit_user.role.include?('owner')  %>
                          <%= button_to 'Remove from Business unit', organisation_business_unit_remove_user_path(@organisation, @business_unit, business_unit_user.user_id), data: {turbo: false}, method: :post, class: 'btn btn-secondary'%></td>
                        <% else %>
                          <strong>Cannot remove</strong>
                        <% end %>
                      </tr>
                      <% end %>
                     
                    </tbody>
                  </table>

                </div>
							</div>
						</div>
						<div class="col-12">
							<div class="card">
								<div class="card-header">
									<div class="card-actions float-end">
										<div class="dropdown position-relative">

										</div>
									</div>
									<h5 class="card-title mb-0"><%= @business_unit.name %> archived users</h5>
								</div>
								<div class="card-body">

                
                  <table id='disabled-users-datatable' class="table table-striped" style="width:100%">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th data-orderable="false"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @business_unit.business_unit_users.discarded.each do |business_unit_user| %>
                      <tr>
                        <td><%= business_unit_user.user_name %></td>
                        <td class='text-end'><%= button_to 'Add back to Business unit', organisation_business_unit_add_user_path(@organisation, @business_unit, business_unit_user.user_id), data: { "turbo-method": :post }, class: 'btn btn-secondary' if current_user.id != business_unit_user.user_id %></td>
                      </tr>
                      <% end %>
                     
                    </tbody>
                  </table>

								</div>
							</div>
						</div>


					</div>

				</div>
			</main>