
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to root_path, class: 'navbar-brand' do %>
      <%= image_tag 'logo-large.png',  alt: "", width: "30", height: "24", class: "d-inline-block align-text-top" %> MeetingHQ
    <% end %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to 'Home', root_path, class: 'nav-link ' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Pricing', home_pricing_path, class: 'nav-link ' %>
        </li>
        <li class="nav-item">
          <%= link_to 'What is Meeting HQ?', home_about_path, class: 'nav-link ' %>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Features
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

            <li><h5 class="dropdown-header  text-dark">Meetings Preperation</h5></li>
            <li><%= link_to 'Meeting Presentations', home_features_presentations_path, class: 'dropdown-item'%></li>
            <li><%= link_to 'Data Collection', home_features_data_collection_path, class: 'dropdown-item'%></li>

            <li><hr class="dropdown-divider"></li>            
            <li><h5 class="dropdown-header text-dark">Running Meetings</h5></li>
            <li><%= link_to 'Agenda', home_features_agenda_path, class: 'dropdown-item'%></li>
            <li><%= link_to 'Actions', home_features_actions_path, class: 'dropdown-item'%></li>
            <li><%= link_to 'Minutes', home_features_minutes_path, class: 'dropdown-item'%></li>
            <li><%= link_to 'Slide Deck', home_features_slide_deck_path, class: 'dropdown-item'%></li>

            <li><hr class="dropdown-divider"></li>            
            <li><h5 class="dropdown-header text-dark">Whats Happened</h5></li>
            <li><%= link_to 'History', home_features_history_path, class: 'dropdown-item'%></li>
            <li><%= link_to 'Version Control', home_features_version_control_path, class: 'dropdown-item'%></li>
          </ul>
        </li>
        <li class="nav-item">
          <%= link_to 'Log In', new_user_session_path, class: "nav-link"%>
        </li>
      </ul>
      
    </div>
  </div>
</nav>