		<nav id="sidebar" class="sidebar">
			<div class="sidebar-content js-simplebar">
				<%= link_to home_account_landing_path, class:"sidebar-brand" do %>
					<span class="align-middle me-3"><%= image_tag 'logo-left-nav.png', height: 160 %></span>
    		<% end %>




				<ul class="sidebar-nav">
						<li class="sidebar-item ">
							<%= link_to home_account_landing_path, class: "sidebar-link" do %>
								<i class="fa-solid fa-home"></i>
								<span class="align-middle">Home</span>
							<% end %>
						</li>


					<li class="sidebar-item">
						<a data-bs-target="#organisations" data-bs-toggle="collapse" class="sidebar-link collapsed" aria-expanded="true">
              <i class="fal fa-house-night"></i> <span class="align-middle">Organisations</span>
            </a>
						<ul id="organisations" class="sidebar-dropdown list-unstyled collapse show" data-bs-parent="#sidebar">
						<% @organisation_id = @organisation.id if @organisation.present? %>
							<% current_user.organisations.uniq.each do |organisation| %>
							<li class="sidebar-item <%= organisation.id == @organisation_id ? 'active' : '' %>">
								<%= link_to organisation.name, organisation_path(organisation),  class: "sidebar-link " %>
							</li>
							<% end %>
							<li class="sidebar-item">
								<%= link_to 'New', new_organisation_path,  class: 'sidebar-link' %>
							</li>

						</ul>
					</li>






	<% if @organisation.present? and @organisation.id.present? %>




					<li class="sidebar-item">
						<a data-bs-target="#multi" data-bs-toggle="collapse" class="sidebar-link collapsed">
              <i class="fal fa-house-night"></i> <span class="align-middle">Business Unit</span>
            </a>
						<ul id="multi" class="sidebar-dropdown list-unstyled collapseW" data-bs-parent="#sidebar">
						<% current_user.availabsle_business_units.each do |business_unit| %>
							<li class="sidebar-item">
								<a data-bs-target="#multi-<%=business_unit.id%>" data-bs-toggle="collapse" class="sidebar-link collapsed">
                  <%= business_unit.name %>
                </a>
								<ul id="multi-<%=business_unit.id%>" class="sidebar-dropdown list-unstyled <%= collapse_business_unit((@business_unit.id if @business_unit), business_unit.id) %>">
									<li class="sidebar-item <%= active((@business_unit.id if @business_unit), business_unit.id) if @meeting.blank? and params[:controller] == 'business_units'%>">
										<%= link_to 'Org Settings', organisation_business_unit_path(@organisation, business_unit), class: "sidebar-link", 'data-bs-target': "#" %>
									</li>
									<li class="sidebar-item <%= active((@business_unit.id if @business_unit), business_unit.id) if @meeting.blank? and params[:controller] == 'slide_templates'%>">
										<%= link_to 'Slide Templates', organisation_business_unit_slide_templates_path(@organisation, business_unit), class: "sidebar-link", 'data-bs-target': "#" %>
									</li>
									<li class="sidebar-item">
										<% debug = "" %>
                     <%= link_to "Meetings #{debug}", '#', 'data-bs-target': "#multi-#{business_unit.id}-1", 'data-bs-toggle': "collapse", class: "sidebar-link collapsed" %>
										
										<ul id="multi-<%=business_unit.id%>-1" class="sidebar-dropdown list-unstyled <%#= collapse_meeting((@business_unit.id if @business_unit), business_unit.id)  %>">
											<li class="sidebar-item <%= active((@business_unit.id if @business_unit), business_unit.id) if @meeting.blank? and ['meetings', 'agendas', 'meeting_actions'].include?(params[:controller])%>">
												<%= link_to 'Manage Meetings', organisation_business_unit_meetings_path(@organisation, business_unit), class: "sidebar-link", 'data-bs-target': "#" %>
											</li>										
												<% business_unit.meetings.each do |meeting| %>
													<li class="sidebar-item <%= active((@meeting.id if @meeting), meeting.id)%> " >
														<%= link_to organisation_business_unit_meeting_path(business_unit, meeting), class: "sidebar-link" do %>
															<%= meeting.name %> 
														<% end %>
													</li>
												<% end %>

										</ul>
									</li>
								</ul>
							</li>
							<% end %>
						</ul>
					</li>

					<li class="sidebar-item ">
						<%= link_to organisation_business_units_path(@organisation), class: "sidebar-link" do %>
							<i class="fal fa-house-night"></i> 
							<span class="align-middle">Manage Business units</span>
							<span class="badge badge-sidebar-primary"></span>
						<% end %>
					</li>
				<% end  if false%>


					<% if current_user.super_admin %>
						<li class="sidebar-item ">
							<%= link_to master_slide_templates_path, class: "sidebar-link" do %>
								<i class="fa-solid fa-brackets-curly"></i>
								<span class="align-middle">Master Slide Templates</span>
								<span class="badge badge-sidebar-primary"></span>
							<% end %>
						</li>

						<li class="sidebar-item ">
							<%= link_to components_path, class: "sidebar-link" do %>
								<i class="fa-solid fa-brackets-curly"></i>
								<span class="align-middle">Components</span>
								<span class="badge badge-sidebar-primary"></span>
							<% end %>
						</li>
					<% end %>

				</ul>

			</div>
	


	</nav>