		<nav id="sidebar" class="sidebar">
			<div class="sidebar-content js-simplebar">
				<a class="sidebar-brand" href="/">
					<span class="align-middle me-3"><%= image_tag 'logo.png', height: 80 %></span>
        </a>

				<ul class="sidebar-nav">
					
					


					<li class="sidebar-item">
						<a data-bs-target="#multi" data-bs-toggle="collapse" class="sidebar-link collapsed">
              <i class="fal fa-house-night"></i> <span class="align-middle">Organisations</span>
            </a>
						<ul id="multi" class="sidebar-dropdown list-unstyled collapseW" data-bs-parent="#sidebar">
						<% current_user.organisations.each do |organisation| %>
							<li class="sidebar-item">
								<a data-bs-target="#multi-<%=organisation.id%>" data-bs-toggle="collapse" class="sidebar-link collapsed">
                  <%= organisation.name %>
                </a>
								<ul id="multi-<%=organisation.id%>" class="sidebar-dropdown list-unstyled <%= collapse_organisation((@organisation.id if @organisation), organisation.id) %>">
									<li class="sidebar-item <%= active((@organisation.id if @organisation), organisation.id) if @meeting.blank? and params[:controller] == 'organisations'%>">
										<%= link_to 'Org Settings', organisation_path(organisation), class: "sidebar-link", 'data-bs-target': "#" %>
									</li>
									<li class="sidebar-item <%= active((@organisation.id if @organisation), organisation.id) if @meeting.blank? and params[:controller] == 'slide_templates'%>">
										<%= link_to 'Slide Templates', organisation_slide_templates_path(organisation), class: "sidebar-link", 'data-bs-target': "#" %>
									</li>
									<li class="sidebar-item">
										<% debug = "" %>
                     <%= link_to "Meetings #{debug}", '#', 'data-bs-target': "#multi-#{organisation.id}-1", 'data-bs-toggle': "collapse", class: "sidebar-link collapsed" %>
										
										<ul id="multi-<%=organisation.id%>-1" class="sidebar-dropdown list-unstyled <%#= collapse_meeting((@organisation.id if @organisation), organisation.id)  %>">
											<li class="sidebar-item <%= active((@organisation.id if @organisation), organisation.id) if @meeting.blank? and ['meetings', 'agendas', 'meeting_actions'].include?(params[:controller])%>">
												<%= link_to 'Meeting Settings', organisation_meetings_path(organisation), class: "sidebar-link", 'data-bs-target': "#" %>
											</li>										
												<% organisation.meetings.each do |meeting| %>
													<li class="sidebar-item <%= active((@meeting.id if @meeting), meeting.id)%> " >
														<%= link_to organisation_meeting_path(organisation, meeting), 'data-bs-target': "#multi-#{organisation.id}-2-#{meeting.id}", 'data-bs-toggle': "collapse", class: "sidebar-link collapsed  #{active((@meeting.id if @meeting), meeting.id) == 'active' ? 'secondary-nav' : ''}" do %>
															<%= meeting.name %> 
														<% end %>
													</li>
														<ul id="multi-<%=organisation.id%>-2-<%=meeting.id%>" class="sidebar-dropdown list-unstyled  <%= collapse_meeting((@meeting.id if @meeting), meeting.id, ['meetings', 'agendas', 'meeting_actions'])  %>">
															<li class="sidebar-item  <%= meeting_component_active((@meeting.id if @meeting), meeting.id, ['meetings'], ['show', 'edit']) %> <%#=  (['meetings'].include?(params[:controller]) and ['show'].include?(params[:action])) ? 'active' : ''%>">
																<%= link_to organisation_meeting_path(organisation, meeting), class: "sidebar-link" do %>Summary <% end %>
															</li>
															<li class="sidebar-item  <%= meeting_component_active((@meeting.id if @meeting), meeting.id, ['agendas'], ['index', 'new', 'show', 'edit']) %><%#=  (['agendas'].include?(params[:controller]) and ['index'].include?(params[:action])) ? 'active' : ''%>">
																<%= link_to 'Agenda', organisation_meeting_agendas_path(organisation, meeting), class: "sidebar-link", 'data-bs-target': "#" %>
															</li>
															<li class="sidebar-item <%= meeting_component_active((@meeting.id if @meeting), meeting.id, ['meeting_actions'], ['index', 'new', 'show', 'edit']) %> <%#=  (['meeting_actions'].include?(params[:controller]) and ['index'].include?(params[:action])) ? 'active' : ''%>">
																<%= link_to 'Actions', organisation_meeting_meeting_actions_path(organisation, meeting), class: "sidebar-link", 'data-bs-target': "#" %>
															</li>										
													</ul>
												<% end %>

										</ul>
									</li>
								</ul>
							</li>
							<% end %>
						</ul>
					</li>


					<li class="sidebar-item ">
						<%= link_to organisations_path, class: "sidebar-link" do %>
							<i class="fal fa-house-night"></i> 
							<span class="align-middle">Manage Organisations</span>
							<span class="badge badge-sidebar-primary"></span>
						<% end %>
					</li>

					<li class="sidebar-item ">
						<%= link_to master_slide_templates_path, class: "sidebar-link" do %>
							<i class="fa-solid fa-brackets-curly"></i>
							<span class="align-middle">Master Slide Templates</span>
							<span class="badge badge-sidebar-primary"></span>
						<% end %>
					</li>

					<li class="sidebar-item ">
						<%= link_to components_path, class: "sidebar-link" do %>
							<i class="fa-solid fa-brackets-curly"></i>
							<span class="align-middle">Components</span>
							<span class="badge badge-sidebar-primary"></span>
						<% end %>
					</li>


				</ul>

			</div>
		</nav>