<!--<ul>
  <li><%= link_to "Log Out", destroy_user_session_path, 'data-turbo-method': :delete, class: "dropdown-item" if current_user %></li>
  <li><%= link_to "Organisations", organisations_path if current_user %></li>
  <li><%= link_to "Organisation: #{@organisation.name}", organisation_path(@organisation) if @organisation and @organisation.id.present? %></li>
  <li><%= link_to "Meeting: #{@meeting.name}", organisation_meeting_path(@organisation, @meeting) if @meeting and @meeting.id.present? %></li>
</ul>
-->

			<nav class="navbar navbar-expand navbar-light navbar-bg">
				<a class="sidebar-toggle">
          <i class="hamburger align-self-center"></i>
        </a>


				<% if @meeting.present? and @meeting.id.present? %>

					<span class="text-dark"><%= @meeting.name %></span>			
					<%= link_to organisation_meeting_path(@organisation, @meeting), class: "nav-link" do %>Summary <% end %>
					<%= link_to 'Agenda', organisation_meeting_agendas_path(@organisation, @meeting), class: "nav-link" %>
					<%= link_to 'Actions', organisation_meeting_meeting_actions_path(@organisation, @meeting), class: "nav-link" %>
					<%= link_to 'Previous Meetings', organisation_meeting_hosted_meetings_path(@organisation, @meeting), class: "nav-link" %>
					<% if @meeting.agendas.present? %>
						<% if @meeting.hosted_meeting_running %>
						<%= button_to 'START MEETING', organisation_meeting_hosted_meetings_path(@organisation, @meeting), target: "meeting-#{@meeting.id}", method: :post, data: {turbo: false},class: "nav-link btn btn-danger btn-sm" %>
						<% else %>
							<%= button_to 'Join', organisation_meeting_hosted_meeting_path(@organisation, @meeting, @meeting.running_meeting), target: "meeting-#{@meeting.id}", method: :get, data: {turbo: false},class: "nav-link btn btn-danger btn-sm" %>
						<% end %>
					<% else %>
						You need an Agenda item to start a meeitng
					<% end %>
				<% end %>



				<div class="navbar-collapse collapse">
					<ul class="navbar-nav navbar-align">
						<% if current_user %>
						<li class="nav-item dropdown">
							<a class="nav-icon dropdown-toggle d-inline-block d-sm-none" href="#" data-bs-toggle="dropdown">
                <i class="align-middle" data-feather="settings"></i>
							</a>
							<a class="nav-link dropdown-toggle d-none d-sm-inline-block" href="#" data-bs-toggle="dropdown">
                <span class="text-dark"><%= current_user.name %></span>
        			</a>
							<div class="dropdown-menu dropdown-menu-end">
								<%= link_to edit_user_registration_path, class: 'dropdown-item' do  %>
									<i class="fal fa-user"></i> Profile
								<% end %>
								<div class="dropdown-divider"></div>
								<%= button_to "Log Out", destroy_user_session_path, method: :delete, data: {turbo: false}, class: "dropdown-item" %>
							</div>
						</li>
						<% end %>

					</ul>
				</div>
			</nav>

